body {
  margin: 0;
  font-family: Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #314755;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #26556b, #314755);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #206585, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
  width: 100%!important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 10px;
}








code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  width: 70%;
}

.form-control {
  border-radius: 5px;
  padding: 20px;
  outline: none;
  font-size: 16px;
  width: 363px;
  border: solid 1px #29be88;
  background: #9eebcf;
  color: #666;
  font-family: 'Courier New', Courier, monospace;
}


.tc {
  text-align: center;
}

.mt-100 {
  margin-top: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.sega-font {
  font-family: 'SEGA LOGO FONT';
  color: #3bccf8;
  font-weight: 100;
} 


/* Mobile Setup */
@media(max-width: 768px){
  .display-1 {
    font-size: 36px!important;
  }

  .searchbox input {
    width: 240px;
  }

  .d-grid-template-3 {
    display: grid;
    grid-template-columns: 1fr!important;
    grid-gap: 25px;
  }

  .container {
    width: 95%!important;
  }
}








